<settings>
<servers>
  <server>
    <id>iyp-iyp-devops-cicd</id>
    <username>aws</username>
    <password>${env.CODEARTIFACT_AUTH_TOKEN}</password>
  </server>
</servers>

<profiles>
  <profile>
    <id>iyp-iyp-devops-cicd</id>
    <activation>
      <activeByDefault>true</activeByDefault>
    </activation>
    <repositories>
      <repository>
        <id>iyp-iyp-devops-cicd</id>
        <url>https://iyp-422532630410.d.codeartifact.ap-south-1.amazonaws.com/maven/iyp-devops-cicd/</url>
      </repository>
    </repositories>
  </profile>
</profiles>

<mirrors>
  <mirror>
    <id>iyp-iyp-devops-cicd</id>
    <name>iyp-iyp-devops-cicd</name>
    <url>https://iyp-422532630410.d.codeartifact.ap-south-1.amazonaws.com/maven/iyp-devops-cicd/</url>
    <mirrorOf>*</mirrorOf>
  </mirror>
</mirrors>

</settings>